/* CSS used to style the body of the app */

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Josefin+Sans:wght@300;400;500;600;700&family=Jost:wght@300;400;500;600;700;800;900&display=swap');

* {
  font-family: Jost, sans-serif;
}

body {
  margin: 0 auto;
  font-size: 1.5em;
  text-align: center;
  background-color:beige;
  background-image: url('background.webp');
  background-repeat: no-repeat;
  background-size: cover;
}


